/* tooltip.css */
.custom-tooltip {
    background-color: #333;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .custom-arrow {
    color: #333;
  }
  
  /* Optional: Add a fade-in effect */
  .custom-tooltip-enter {
    opacity: 0;
    transform: scale(0.95);
  }
  
  .custom-tooltip-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
  }
  